.main {
  background-color: white;
  color: #78ea4e;
  margin-top: 18px;
  margin-left: 9px;
  margin-bottom: 7px;
  height: 35px;
  text-align: left;
  font: normal normal normal 35px/42px Lobster;
  letter-spacing: 0px;
}
