.ContainerPadding {
  padding-left: 9px;
  padding-right: 10px;
}

.main {
  color: #585858;
  font-size: 25px;
  padding-left: 7px;
  div {
    margin-top: 20px;
    border-bottom: 2px solid #f1ac9d;
    left: 22px;
    margin-bottom: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  
}
