.main {
  div {
    font-family: YuGothic;
    font-size: 25px;
    color: #3E3F68;
    background-color: #f0f2f5;
    padding-left: 29px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    div {
      text-align: left;
      font-size: 20px;
      margin-top: 18px;
      padding-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
      font-family: YuGothic;
      letter-spacing: 0px;
      color: #585858;
      opacity: 1;
    }
  }
}