

.ContainerPadding {
  padding-left: 0px;
  padding-right: 0px;
  .JumbotronSize {
    background-color: #f1ac9d;
    h1 {
      font-size: 30px;
      color: #ffffff;
      font-family: normal normal bold YuGothic;
    }
    p {
      color: #ffffff;
      font: normal normal medium 20px/34px YuGothic;
      font-size: 20px;
      margin-bottom: 0px;
    }
    margin-bottom: 0px;
    padding-top: 29px;
    padding-left: 20px;
    padding-bottom: 19px;
    padding-right: 22px;
  }
}
