.ContainerPadding {
  padding-left: 21px;
  padding-right: 22px;
}

.main {
  color: #585858;
  font-size: 25px;
  padding-left: 7px;
  div {
    border-bottom: 2px solid #f1ac9d;
    left: 22px;
    margin-bottom: 25px;
  }
  margin-top: 20px;
}
