.main {
  div {
    font-size: 25px;
    font: normal normal medium 25px/43px YuGothic;
    color: #3E3F68;
    background-color: #f0f2f5;
    padding-left: 29px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
  }
}
