.JumbotronSize {
  background-color: #f1ac9d;
  h1 {
    font-size: 30px;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    font: normal normal medium YuGothic;
    font-size: 20px;
    margin-bottom: 0px;
  }
  margin-bottom: 0px;
}

.ContainerPadding {
  padding-left: 0px;
  padding-right: 0px;
}
